Repository CodeSystem2022/Code-People-Tercer-Semestre, pull requests merged in 2023-05, with the labels that each got.

#22 Modificación JavaScript
  LABORATORIO/JAVASCRIPT/TSLeccion02/02-03-arreglos.js
Labels: JavaScript

#29 Clase 5 Conversión de objetos
  PROGRAMACION/Leccion05/ClaseObject/build.xml
  PROGRAMACION/Leccion05/ClaseObject/build/classes/.netbeans_automatic_build
  PROGRAMACION/Leccion05/ClaseObject/build/classes/.netbeans_update_resources
  PROGRAMACION/Leccion05/ClaseObject/build/classes/domain/Empleado.class
  PROGRAMACION/Leccion05/ClaseObject/build/classes/domain/Escritor.class
  PROGRAMACION/Leccion05/ClaseObject/build/classes/domain/Gerente.class
  PROGRAMACION/Leccion05/ClaseObject/build/classes/domain/TipoEscritura.class
  PROGRAMACION/Leccion05/ClaseObject/build/classes/test/TestClaseObject.class
  PROGRAMACION/Leccion05/ClaseObject/manifest.mf
  PROGRAMACION/Leccion05/ClaseObject/nbproject/build-impl.xml
  PROGRAMACION/Leccion05/ClaseObject/nbproject/genfiles.properties
  PROGRAMACION/Leccion05/ClaseObject/nbproject/private/private.properties
  PROGRAMACION/Leccion05/ClaseObject/nbproject/private/private.xml
  PROGRAMACION/Leccion05/ClaseObject/nbproject/project.properties
  PROGRAMACION/Leccion05/ClaseObject/nbproject/project.xml
  PROGRAMACION/Leccion05/ClaseObject/src/domain/Empleado.java
  PROGRAMACION/Leccion05/ClaseObject/src/domain/Escritor.java
  PROGRAMACION/Leccion05/ClaseObject/src/domain/Gerente.java
  PROGRAMACION/Leccion05/ClaseObject/src/domain/TipoEscritura.java
  PROGRAMACION/Leccion05/ClaseObject/src/test/TestClaseObject.java
  PROGRAMACION/Leccion05/ClosesAbstractas/build.xml
  PROGRAMACION/Leccion05/ClosesAbstractas/build/classes/.netbeans_automatic_build
  PROGRAMACION/Leccion05/ClosesAbstractas/build/classes/.netbeans_update_resources
  PROGRAMACION/Leccion05/ClosesAbstractas/build/classes/domain/FiguraGeometrica.class
  PROGRAMACION/Leccion05/ClosesAbstractas/build/classes/domain/Rectangulo.class
  PROGRAMACION/Leccion05/ClosesAbstractas/build/classes/test/TestAbstractas.class
  PROGRAMACION/Leccion05/ClosesAbstractas/manifest.mf
  PROGRAMACION/Leccion05/ClosesAbstractas/nbproject/build-impl.xml
  PROGRAMACION/Leccion05/ClosesAbstractas/nbproject/genfiles.properties
  PROGRAMACION/Leccion05/ClosesAbstractas/nbproject/private/private.properties
  PROGRAMACION/Leccion05/ClosesAbstractas/nbproject/private/private.xml
  PROGRAMACION/Leccion05/ClosesAbstractas/nbproject/project.properties
  PROGRAMACION/Leccion05/ClosesAbstractas/nbproject/project.xml
  PROGRAMACION/Leccion05/ClosesAbstractas/src/domain/FiguraGeometrica.java
  PROGRAMACION/Leccion05/ClosesAbstractas/src/domain/Rectangulo.java
  PROGRAMACION/Leccion05/ClosesAbstractas/src/test/TestAbstractas.java
  PROGRAMACION/Leccion05/ConversionObjetos/build.xml
  PROGRAMACION/Leccion05/ConversionObjetos/build/classes/.netbeans_automatic_build
  PROGRAMACION/Leccion05/ConversionObjetos/build/classes/.netbeans_update_resources
  PROGRAMACION/Leccion05/ConversionObjetos/build/classes/domain/Empleado.class
  PROGRAMACION/Leccion05/ConversionObjetos/build/classes/domain/Escritor.class
  PROGRAMACION/Leccion05/ConversionObjetos/build/classes/domain/Gerente.class
  PROGRAMACION/Leccion05/ConversionObjetos/build/classes/domain/TipoEscritura.class
  PROGRAMACION/Leccion05/ConversionObjetos/build/classes/test/TestConversionObjetos.class
  PROGRAMACION/Leccion05/ConversionObjetos/manifest.mf
  PROGRAMACION/Leccion05/ConversionObjetos/nbproject/build-impl.xml
  PROGRAMACION/Leccion05/ConversionObjetos/nbproject/genfiles.properties
  PROGRAMACION/Leccion05/ConversionObjetos/nbproject/private/private.properties
  PROGRAMACION/Leccion05/ConversionObjetos/nbproject/private/private.xml
  PROGRAMACION/Leccion05/ConversionObjetos/nbproject/project.properties
  PROGRAMACION/Leccion05/ConversionObjetos/nbproject/project.xml
  PROGRAMACION/Leccion05/ConversionObjetos/src/domain/Empleado.java
  PROGRAMACION/Leccion05/ConversionObjetos/src/domain/Escritor.java
  PROGRAMACION/Leccion05/ConversionObjetos/src/domain/Gerente.java
  PROGRAMACION/Leccion05/ConversionObjetos/src/domain/TipoEscritura.java
  PROGRAMACION/Leccion05/ConversionObjetos/src/test/TestConversionObjetos.java
Labels: Java, 3er Semestre

#39 Tareas JS Objetos
  LABORATORIO/JAVASCRIPT/TSLeccion04/01-04-Objetos.js
  LABORATORIO/JAVASCRIPT/TSLeccion04/Index.html
Labels: JavaScript, 3er Semestre

#49 Tarea Semana 4 JAVA
  PROGRAMACION/Leccion06/Interfaces/nbproject/build-impl.xml
  PROGRAMACION/Leccion06/Interfaces/nbproject/genfiles.properties
  PROGRAMACION/Leccion06/Interfaces/nbproject/private/private.properties
  PROGRAMACION/Leccion06/Interfaces/nbproject/project.properties
  PROGRAMACION/Leccion06/Interfaces/src/accesodatos/IAccesoDatos.java
  PROGRAMACION/Leccion06/Interfaces/src/accesodatos/ImplementacionMySql.java
  PROGRAMACION/Leccion06/Interfaces/src/accesodatos/ImplentacionOracle.java
Labels: Java, 3er Semestre
